/* Containers */

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom, #012040, #5D5D8A, #5D5D8A);
  font-family: Arial, sans-serif;
  text-align: center;
  color: #fff;
}

header {
  padding: 25vh 0 0 0;
  max-width: 90%;
  margin: auto;
}

@media screen and (max-width: 500px) {
  header {
    padding: 5vh 0 0 0;
  }
}

.section {
  padding: 15vh 0 0 0;
  margin: auto;
}


/* Text */

h1 {
  font-size: 8vh;
  margin: 0;
  background: -webkit-linear-gradient(#fff, #ddd);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2 {
  background: -webkit-linear-gradient(#fff, #ddd);
  font-size: 3vh;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h3 {
  font-size: 4vh;
}

.description {
  font-size: 3.5vh;
  max-width: 70%;
  margin: auto;
  text-align: justify;
}

@media screen and (max-width: 1000px) {
  .description {
    text-align: center;
  }
}

@media screen and (max-width: 500px) {
  .description {
    font-size: 3vh;
  }
}

.description + .description {
  margin-top: 1vh;
}

a {
  color: #fff;
}

.smallText {
  max-width: 70%;
  margin: auto;
  text-align: justify;
  padding: 1vh 0 1vh 0;
  font-size: 1vh;
}


/* Custom Button */

button {
  text-align: center;
  font-size: 2.5vh;
  transition: 0.3s;
  width: 30vw;
  border-radius: 0.5vh;
  border: 0.5vh solid #fff;
  height: fit-content;
  min-height: 6vh;
  cursor: pointer;
  mix-blend-mode: screen;
  background: #fff;
}

@media screen and (max-width: 500px) {
  button {
    width: 60vw;
  }
}

button:hover {
  color: white;
  background: transparent;
}


/* FAQs */

.questionContainer {
  max-width: 70%;
  margin: auto;
  border: 0.5vw solid white;
  border-radius: 2vw;
  cursor: pointer;
  margin-bottom: 2vh;
  text-align: left;
}

.question {
  font-size: 3vh;
  font-weight: 600;
  padding: 0 2vw 0 2vw;
  position: relative;
  display: flex;
  align-items: center;
}

.question p {
  padding: 0;
}

.question::after {
  content: "\002B";
  font-size: 3vh;
  position: absolute;
  right: 2vw;
  transition: 0.2s;
}

.question.active::after {
  transform: rotate(45deg);
}

.answerContainer {
  max-height: 0;
  overflow: hidden;
  transition: 0.3s;
}

.answer {
  padding: 0 2vw 2vh 2vw;
  line-height: 3vh;
  font-size: 2.5vh;
}


/* Video */

.largeVideo {
  width: 90%;
  height: 55vw;
}

.smallVideo {
  width: 70%;
  height: 40vw;

}

/* Scrollbar */

::-webkit-scrollbar {
  width: 0;
}